<!-- views/admin.ejs -->
<!doctype html>
<html>
<head>
	<title>IMS</title>
	<% include partials/bootstrap %> <!-- load bootstrap css -->
	<% include partials/fa %> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>

  <% include partials/nav %>

	<div class="container">
      <div class="jumbotron text-center">
          <h1>Admin Panel</h1>
					<p>add/remove users, disable accounts, modify/cancel bookings</p>
					<p><% allUsers %></p>
      </div>
  </div>

</body>
</html>
