<!-- views/book.ejs -->
<!doctype html>
<html>
<head>
	<title>IMS</title>
	<% include partials/bootstrap %> <!-- load bootstrap css -->
	<% include partials/fa %> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>

  <% include partials/nav %>

  <div class="container">
      <div class="jumbotron text-center">
          <h1><span class="fa fa-calendar"></span> Calendar Goes Here</h1>
      </div>
  </div>

</body>
</html>
