<!-- views/home.ejs -->
<!doctype html>
<html>
<head>
	<title>IMS</title>
	<% include partials/bootstrap %> <!-- load bootstrap css -->
	<% include partials/fa %> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>

<% include partials/nav %>

<div class="container">
		<div class="jumbotron text-center">
				<h1>User Home Page</h1>
				<pre>
Show instrument status, users upcoming bookings, etc...
				</pre>
		</div>
</div>


</body>
</html>
